#sponsors{
	padding: 50px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
}
.card:hover {
	box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.19);
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1);
}
.timeline {
  position: relative;
  width: auto;
  margin: 0 auto;
  background-color: #eee;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #f50136;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #f50136;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.timeline-header{
	width: 100%;
	background: #f50136;
	border-radius: 6px;
	text-align: center;
}
.timeline-header h3{
	color: white;
}
.left-timeline {
  left: 0;
}
.right-timeline {
  left: 50%;
}
.left-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f50136;
}
.right-timeline::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f50136 transparent transparent;
}
.right-timeline::after {
  left: -12px;
}
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  .container-timeline {
  width: 100%;
  padding-top: 19px;
  padding-left: 68px;
  padding-right: 25px;
  }
  .container-timeline::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f50136 transparent transparent;
  }
  .left-timeline::after, .right-timeline::after {
  left: 15px;
  }
  .right-timeline {
  left: 0%;
  }
}
.section-title {
   font-size: 36px;
   line-height: 36px;
   margin-top: 0;
   margin-bottom: 0;
   padding-bottom: 15px;
   position: relative;
}

.section-title.title-white{
   color: #fff;
}

.section-sub-title {
   display: block;
   max-width: 80%;
   font-size: 18px;
   margin: 0 auto 60px;
}

.section-sub-title strong{
  font-weight: 400;
}

.icon-wrap{
   display: inline-block;
   background: #55688f;
   color: #fff;
   width: 40px;
   height: 40px;
   margin-bottom: 30px;
   position: relative;
   text-align: center;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}

.icon-wrap i{
  font-size: 16px !important;
  padding: 12px !important;
  /*text-align: center !important;*/
  /*vertical-align: middle !important;*/
  color: white !important;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Sponsors
================================================== */

.ts-sponsors .sp-container{
  padding-left: 150px;
   padding-right: 150px;
}

.sponsor-title{
   border-bottom: 1px solid #dadada;
   padding-bottom: 20px;
   max-width: 750px;
   margin:0 auto;
}

.sponsor-logo{
  display: inline-block;
  text-align: center;
  margin: 60px 0;
}

.sponsor-logo img{
  opacity: .6;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.sponsor-logo.highlight img{
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
.sponsor-logo{
  color: coral !important;
}
